h1{      
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 36px;
    color: #000000;
}

.person{
    margin-bottom: 20px;
    display: flex;
    gap: 5rem;
    align-items: center;

    a{
        color: #000;
        span{
            text-decoration: underline;
        }
    }

    h2{
        margin: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 23px;
        color: #000000;
    }

    p{
        margin: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 23px;
        color: #000000;
    }
}

img{
    align-self: center;
}
