.bookchapters{
    display: flex;
    flex-direction: column;

    h1{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 36px;
        margin-top: 40px;
        margin-bottom: 50px;
        color: #000000;
    }

    .chapters{
        display: flex;
        flex-direction: column;
        gap: 25px;
       
        .singlechapter{
            display: flex;
    
            .coverimg{
                width: 244px;
                height: 311px;
                background: #D9D9D9;
                flex-shrink: 0;
                margin-right: 80px;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 27px;
                color: #000000;
                margin-top: 0px;
            }
        }
    }
}


@media screen and (max-width: 1120px){
    .bookchapters{
        h1{
            font-size: 1.4rem;
        }
    
        .chapters{
            .singlechapter{
                display: flex;

                .coverimg{
                    
                    max-width: 40%;
                    height: auto;
                    aspect-ratio: 244/311;
                   
                   margin-bottom: 25px;
                   margin-right: 10px;
                }
    
                p{
                    font-size: calc(0.8vw + 0.5rem);
                }
            }
        }
    }

}