.ij{
    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        margin-top: 50px;
        margin-bottom: 0px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 36px;
    }
}


@media screen and (max-width: 1120px){
    .ij{
        h1{
            font-size: calc(1.5vw + 0.5rem);
        }
    }
}