
.f-vertical{
    width: 415px;
    height: 578px;
    left: 64px;
    top: 497px;
    border: 2px solid #2D5186;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: #000000;
    }

    img{
        margin-top: 24px;  
    }
}


.f-horizontal{
    width: 1326px;
    height: 277px;
    border: 2px solid #2D5186;
    border-radius: 8px;
    display: flex;
    align-items: center;
    //justify-content: center;

    h2{
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: #000000;
    }

    img{
        margin-left: 24px;
    }

}