.footer{
    margin-top: 10px;
    height: 360px;
    background-color: #2D5186;
    width: 100%;

    .footercontent{
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: start;
        

        .socialconnect{
            .icons{
                display: grid;
                grid-template-columns: 80px 80px 80px;
                grid-template-rows: 80px 80px;
                justify-content: center;
                align-items: center;

                .icon-item{
                    align-self: center;
                    justify-self: center;
                }
            }
        }


        form{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            input{
                width: 386px;
                height: 27px;
                border-radius: 4px;
                margin-top: 5px;
                margin-bottom: 8px;
                background: #2D5186;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                padding: 0px;
                color: #FFFFFF;
                text-align: center;
            }

            .inputdiv{
                width: 386px;
                height: 27px;
                border-radius: 4px;
                margin-top: 5px;
                background: #2D5186;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                padding: 0px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                
            }
           #choosefilebutton{
            width: fit-content;
            height: fit-content;
            border: 0px;
            margin: 0;
            margin-left: 5px;
           }

            button{
                position: absolute;
                height: 22px;
                width: 122px;
                background: #D9D9D9;
                border-radius: 4px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                
            }
        }

        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            color: #FFFFFF;
        }

        h2{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            color: #FFFFFF;
        }

        img{
            height: 64px;
            width: 64px;
            object-fit: cover;
        }

        .linkedin-img{
            height: 75px;
            width: 75px;
            object-fit: cover;
        }
    }
}