.navbar{
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 100%;
    margin: 0;
    height: 296px;
    background-image: url('../assets/navbar.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
}

.mobile-box{
    display: none;
}

.navcontainer{
    align-self: flex-end;
    width: 95%;
    position: relative;
    top: -56px;
    display: flex;
    align-items: center;
    background: #2D5186;
    //object-fit:scale-down;
    padding: 0px;
    height: 56px;          
}    

.nav-elements {
    position: relative;
    width: 100%;
    ul{
        display: flex;
        justify-content:space-around;
        list-style-type: none;
        padding: 0px;
    }

    a {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 23px;
        color: #FFFFFF;
    }
    a.active{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 23px;
        color: #FFFFFF;
    }
}
    
.selectbox{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    height: 56px;
    margin: 0;
    padding: 0;
}

.contact-button{
    cursor: pointer;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 23px;
    color: #FFFFFF;   
}

.toggle-button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000000;
    display: none;
}



@media screen and (max-width: 1120px){

    .image{
        height: calc(12vw + 7rem);
    }
    .mobile-box{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        h6{
            margin: 0px;
            margin-left: 10px;
            padding: 0px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: #000000;
            //display: none;
        }
        
    }

    .toggle-button{
        margin: 0px;
        margin-right: 15px;
        padding: 0px;
        display: block;
        position: relative;
        z-index: 10;
    }

    .navcontainer{
        position: relative;
        top: 0px;
        align-self: flex-end;
        width: 100%;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        //object-fit:scale-down;
        margin-bottom: 20px;
        padding: 0px;
        height: fit-content; 
        display: none;  
    }
    
    .selectbox{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: fit-content;
        height: 34px;
        // margin-bottom: px;
        padding: 0;
    }

    .nav-elements{
        position: relative;
        width: 100%;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
            list-style-type: none;
            padding: 0px;
        }


        a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
        }
        a.active{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
            
        }

        display: none; 
    }

    .contact-button{
        cursor: pointer;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000000;   
    }

    .show-nav{
        display: block;
    }
}

