.profile{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    .profilecard{
        display: flex;
        justify-content: left;
        align-items: left;
        gap: 100px;
        width: 100%;
        
        .profileimg{
            width: 318px;
            height: 384px;
            left: 80px;
            top: 50px;
            background: #D9D9D9;
            
        }

        .profileinfo{
            height: 384px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .profilename{
                width: 262px;
                height: 37px;
                left: 478px;
                margin: 0px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
            }   

            .otherinfo{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 36px;
                color: #000000;
                margin: 0px;
            }
        }
    }   
}

.profileul{
    margin-left: 82px;
}