.para{
    .heading{
        display: flex;
        align-items: center;
        margin-top: 20px;
        svg{
            margin-right: 32px;
        }
        h2{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            color: #000000;
        }
        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            color: #000000;
            text-decoration: underline;
            text-decoration-color: #2D5186;
            text-underline-offset: 10px;
        }
    }

    
    ul{
        li{
            display: flex;
            align-items: center;
            
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            margin: 16px;
            list-style-type:none;
            span{
                position: relative;
                left: 40px;
            }
        }

        
    }

    ul li:before {
        content: "•";
        font-size: 40px;
        color: #2D5186;
        padding-right: 10px;
    }

    
}

.researchstatus{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    position: relative;
    left: 1120px;
    top: -28px;
    margin: 0;
}

