.para{
    .heading{
        display: flex;
        align-items: center;
        margin-top: 20px;
        svg{
            margin-right: 32px;
        }
        .shortterm{
            height: 68px;
            width:68px;
            margin-right: 32px;
        }
        h2{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 45px;
            text-align: center;
            color: #000000;
        }
        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 45px;
            text-align: center;
            color: #000000;
            text-decoration: underline;
            text-decoration-color: #2D5186;
            text-underline-offset: 10px;
        }
    }

    
    ul{
        li{
            display: flex;
            align-items: center;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 27px;
            margin: 16px;
            list-style-type:none;

            position: relative;
            span{
                position: relative;
                left: 40px;
            }

            a:link { 
                text-decoration: underline; 
                color: #000000;
            }  
    
        }

        
    }

    ul li:before {
        content: "•";
        font-size: 2.5rem;
        color: #2D5186;
        padding-right: 10px;
    }

    .profileul{
        margin-left: 82px;
    }
}

.researchstatus{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 27px;
    color: #000000;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
   
}

@media screen and (max-width: 1120px){
    .para{
        .heading{
            display: flex;
            align-items: center;
            margin-top: 20px;
            svg{
                margin-right: 10px;
                max-width: 24px;
                max-height: 24px;
            }
            .shortterm{
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            h2{
                font-size: 1.75rem;
                font-size: 16px;

            }
            h3{
                font-size: 1.75rem;
                font-size: 16px;
            }
        }
    
        
        ul{
            margin: 0px;
            padding: 0px;
            li{
                display: flex;
                align-items: center;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                // font-size: 1.2rem; 
                // line-height: 27px;

                // font-size: 10px;
                // line-height: 11px;
                // color: #000000;
                font-size: calc(0.8vw + 0.5rem);

                margin: 0px;
                margin-bottom: 12px;
                list-style-type:none;
                position: relative;
                overflow-wrap: anywhere;

                span{
                    position: relative;
                    left: 18px;
                    overflow-wrap: anywhere;
                }

                a{
                    overflow-wrap: anywhere;
                }
    
                a:link { 
                    text-decoration: underline; 
                    color: #000000;
                }  
        
            }
    
            
        }
    
        ul li:before {
            content: "•";
            font-size: 16px;
            color: #2D5186;
            padding-right: 0px;
        }

        .profileul{
            margin-left: 32px;
        }
    
        
    }
    
    .researchstatus{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 0.9rem; 
        line-height: 27px;
        color: #000000;
        position: absolute;
        margin: 0;
        right: 0;
        bottom: -15px;
       
    }
    
}

